@charset "UTF-8";
/* CSS Document */


.header{
	height:75px;
}

.header-container{
	width:900px;
	margin:0 auto;
	height: 75px;
}
.header-nav{
	float:right;
}
.header-logo{
	float:left;
	line-height: 75px;
	
}
.header-logo img{
	display:inline-block;
	vertical-align: middle;
}
.header-nav-list{
	display:inline-block;
	margin-left:18px;
}
.header-nav-list a{
	color:#000;
	line-height: 75px;
	text-decoration: none;
	font-size: 18px;
}
.banner{
	height:405px;
	background:url(../images/banner.png) no-repeat center;
	background-size:cover;
	padding: 60px;
	text-align: center;
}
.slogan-first-img,.slogan-second-img{
	display:inline-block;
	
}
.slogan .slogan-first .slogan-first-img{
	margin-left:-160px;
}
.slogan .slogan-second .slogan-second-img{
	margin-right:-160px;
	margin-top: 30px;
}
.btn{
	padding-top:88px;
}
.btn .btn-btn{
	color:#fff;
	padding: 9px 12px;
	border: 2px solid #fff;
	border-radius: 12px;
	display:inline-block;
	font-size: 28px;
	font-weight: 400;
	
}
.btn-detail,.btn-buy{
	display: inline-block;
	margin-right:30px;
}
.btn .btn-btn:hover{
	background-color:#7a8c9e;
	opacity: 0.9;
	border-color:#f5bc40;
}
.descripation{
	width:900px;
	margin: 0 auto;
	
}
.descripation-title{
	margin-top:46px;
	text-align: center;
	margin-bottom: 27px;
}
.descripation-slogan{
	text-align: center;
	font-size: 16px;
}
.dotted{
	border-top:2px dotted #000;
	margin-bottom:-9px;
}
.descripation-slogans{
	display: inline-block;
	padding:0 20px;
	background-color: #fff;
}
.descripation-content{
	margin-top:97px;
}
.descripation-contents{
	display:inline-block;
}

.descripation-content .descripation-content-img{
	width:174px;
	height:262px;
	margin-left: 135px;
	border:5px solid #009944;
	line-height: 262px;
}
.descripation-content-imgs{
	border:5px solid #ff8500;
	display: inline-block;
	vertical-align: middle;
	margin-left:-78px;
}
.descripation-content-title{
	color:#ff8500;
	font-weight: 200;
}
.descripation-content .descripation-content-words{
	width:363px;
    
    margin-left: -30px;
    background-color: #fff;
    padding: 2px;
    color: #cfcfcf;
    font-size: 10px;
}
.descripation-contents.descripation-content-more{
	width:120px;
	vertical-align: middle;
	margin-left: 50px;
	
}

.descripation-content-up{
	height: 100px;
	width: 120px;
	line-height: 100px;
	background-color: #549883;
	
	
	
}
.descripation-content-center a{
	display: inline-block;
	width: 97px;
	height:30px;
	border:2px solid #fff;
	color: #fff;
	background-color: #de8833;
	text-align: center;
	font-size: 10px;
	line-height: 30px;
	margin-left: -50px;
}
.descripation-logo-img{
	border: 1px solid grey;
}
.background-middle{
	height:460px;
	width: 100%;
	background: url(../images/background.png) no-repeat center;
	backgrounnd-size:cover;
	
}
.middle-detail{
	width:840px;
	margin:0 auto;
	text-align:justify;
}
.middle-detail:after{
	content:'';
	width:100%;
	display:inline-block;
	height: 0px;
	visibility: hidden;
}
.deatil-img{
	height:112px;
	width:112px;
	background-color: #6d7075;
	text-align: center;
	
	border-radius: 100%;
	line-height: 112px;
	margin-top:60px;
	
}
.deatil-img img{
	display:inline-block;
	vertical-align: middle;
}
a.deatil-img:hover{
	background-color:#0058ab;
}

.middle-detail-parts{
	display:inline-block;
}
.detail-content{
	width:124px;
	text-align: center;
}
